[Unit]
Description=Swabber Service

[Service]
ExecStart=/usr/local/bin/swabberd
StandardOutput=null
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
Alias=swabber.service
