Source: swabber
Maintainer: Hugh Nowlan <nosmo@nosmo.me>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.8.4
XS-Python-Version: current

Package: python-swabber
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-zmq, python-iptables, python-yaml
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Pubsub-based host banning interface
 swabber
 =======
 .
 Simple pubsub-based IP banning engine
 .
 To run everything, run swabber.py. 
 .
 To just listen for bans, run <code>python banfetcher.py</code>. This will not clean bans (which bancleaner.py will do). 
 .
 Installation
 ======
 .
 The following modules must be loaded:
 * ip_tables
 * ip_conntrack
 * iptable_filter
 * ipt_state
 .
 Python <= 2.5 will need to also install the json module. python-dev is required to install the dependencies. 
 .
